.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

}

img.attach {
    width: 100%;
}

img.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
}

.header {
    display: flex;

}

div.comments_block {
    text-align: left;
}

div.post_panel.inner {
    align-items: center;
    width: 100%;
}

.options {
    cursor: pointer;
}

.sub_data {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.postDate {
    margin-top: 12px;
}

div.empty-container {
    border: 2px dashed rgb(151, 151, 151);
    border-radius: 8px;
    text-align: center;
    height: 100px;
}

div.empty-container label {
    font-size: 1.25em;
    font-weight: 600;
    opacity: .5;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    cursor: pointer;
    line-height: 100px;
}