.profile {
    max-width: 60%;
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: black;
    padding: 3% 7%;
    text-align: start;
}

.profile.edit{
    background-color: rgb(35, 25, 44);
}

.profile p {
    font-size: 20pt;
    margin: 15px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile img {
    border: 3px solid white;
}

.row {
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
    margin: 0;
}

.editBtn {
    width: 120px;
    height: 40px;
    font-size: 16pt;
}

.btnContainer {
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: space-around;
}

.feed {
    margin: 5%;
    vertical-align: middle;
}

.feed p {
    height: 50px;
    vertical-align: middle;
    padding: 15px;
    margin: 15px;
}

.profileNames {
    margin-top: 20px;
    color: aliceblue;
    font-size: 16pt;
    margin: 15px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modalClass {  
    text-align: center;  
    margin-top: 100px;  
} 

.modal-content {
    width: fit-content;
}

.modal-content {
    margin: auto;
}

.avatarDiv {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.avatarDiv img {
    width: 200px;
    margin-bottom: 40px;
}

.editForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submitBtn-container {
    align-items: center;
    position: relative;
    /*justify-content: end;
    align-items: ;*/
}

.submitBtn {
    position: absolute;
    bottom: 5px;
    right: 0px;
    width: 140px;
    height: 50px;
    font-size: 16pt;
    
}

#dateOfBirth {
    width: 100%;
}